<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Page</title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/views/home.html">Home</a></li>
                <li><a href="/views/about.html">About</a></li>
                <li><a href="/views/works.html">Works</a></li>
                <li><a href="/views/gallery.html">Gallery</a></li>
            </ul>
        </div>
        <div>
            <h1>WELCOME</h1>658
        </div>
    </body>
</html>