<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Works</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </nav>
        <div id="works">
            <div class="columns">
                <img src="/images/batman-vs-bane.jpg" alt="" class="images">
                <h3>Defeated Bane</h3>
            </div>
            <div class="columns">
                <img src="/images/batman-vs-superman.jpg" alt="" class="images">
                <h3>Defeated Super-Man</h3>
            </div>
            <div class="columns">
                <img src="/images/gotham.webp" alt="" class="images">
                <h3>Protects Gotham</h3>
            </div>
        </div>
    </body>
</html>